<div class="contentcentered">

  <form method="get" action="quizes/"
    
    <label for="search">Buscar: </label>
    <input id="search" name="search" placeholder="Responda aquí" type="text">
    <button type="submit">Enviar</button>
      
  </form>
  
</div>


<div class="contentcentered">
  <table class="tablecentered">
  <% var i; for(i=0; i < quizes.length; i++) { %>
	  <tr>
      <td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
      <% if (session.user) { %>
      <td><a href="quizes/<%= quizes[i].id %>/edit"><button>Editar</button></a></td>
      <td>
        <form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
          <button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">Borrar</button>
        </form>
      </td>
      <% } %>
    </tr>
  <% } %>
  </table>
</div>

<% if (session.user) { %>
<p>
  <a href="/quizes/new">
    <button type="button">Crear pregunta</button>
  </a>
</p>
<% } %>